// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style-type: none;
  display: inline-block;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 7px;
  padding: 0px;
}

li {
  padding: 0px 40px;
  background-color: #83b582;
  color: white;
  margin: 0px 8px;
}

